<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Hello :)</h2>
<br>
<table border="1">
    <th>
        <button onclick="window.location.href = '/users';">Show list of all users</button>
    </th>
    <th>
        <button onclick="window.location.href = '/users/new';">Add new user</button>
    </th>

</table><br/>
    <table border="1">
        <th>
            <button onclick="window.location.href = '/truncate';">Truncate table of users</button>
        </th>
        <th>
            <button onclick="window.location.href = '/fill';">Fill table of users</button>
        </th>
    </table>

</table><br/>
<table border="1">
    <th>
        <button onclick="window.location.href = '/create';">Create table of users</button>
    </th>
    <th>
        <button onclick="window.location.href = '/drop';">Drop table of users</button>
    </th>
</table>
</body>
</html>